[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=Join Lines
Comment=
Exec=
TryExec=
Icon=/home/fernando/Pictures/Programs and Tools/sed-superman.png
MimeType=
Terminal=false
NoDisplay=false
X-Zim-ExecTool=~/Projects/dotfiles/bin/sed-join-lines.sh "%t"
X-Zim-ReadOnly=false
X-Zim-ShowInToolBar=true
X-Zim-ShowInContextMenu=Text
X-Zim-ReplaceSelection=true

