snippet favicon "add favicon meta tag"
<link rel="alternate icon" type="image/png" href="$1">
endsnippet

snippet ab "Anki code block"
<div><pre>----<code>
$1
</code>----</pre></div>
endsnippet

snippet aob "Anki open code block"
<div><pre>----<code>
endsnippet

snippet acb "Anki close code block"
</code>----</pre></div>
endsnippet
