# vim: ft=dosini cms=#%s
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = false
urgent_on_bell = true
clickable_url = true
font = Ubuntu Mono 13
scrollback_lines = 10000
search_wrap = true
icon_name = terminal
geometry = 1248x960

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default if set, with xdg-open as a fallback
#browser = xdg-open

# set size hints for the window
#size_hints = false

# Hide links that are no longer valid in url select overlay mode
filter_unmatched_urls = true

# emit escape sequences for extra modified keys
#modify_other_keys = false





[colors]
# Base16 Default Dark
# Author: Chris Kempson (http://chriskempson.com)

foreground      = #d8d8d8
foreground_bold = #e8e8e8
cursor          = #e8e8e8
background      = #181818

# 16 color space

# Black, Gray, Silver, White
color0  = #181818
color8  = #585858
color7  = #d8d8d8
color15 = #f8f8f8

# Red
color1  = #ab4642
color9  = #ab4642

# Green
color2  = #a1b56c
color10 = #a1b56c

# Yellow
color3  = #f7ca88
color11 = #f7ca88

# Blue
color4  = #7cafc2
color12 = #7cafc2

# Purple
color5  = #ba8baf
color13 = #ba8baf

# Teal
color6  = #86c1b9
color14 = #86c1b9

# Extra colors
color16 = #dc9656
color17 = #a16946
color18 = #282828
color19 = #383838
color20 = #b8b8b8
color21 = #e8e8e8

