root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 72

[*.{md}]
trim_trailing_whitespace = false

##
# I use hard tabs for bash scripts because of the ‘<<-EOF’ syntax
# which removes tabs from HEREDOCS allowing EOF delimiters to be
# indented more naturally with the code. See
#
#   ‘man bash’ → ‘REDIRECTION’ → ‘Here Documents’
#
[*.{sh,bash}]
indent_style = tab
max_line_length = 72

