# .gitignore, symlinked to ~/.gitignore. Not to be confused with
# the repo's .gitignore.
tmp/
.emacs.bkp

#
# Work-related stuff that I am better off not sharing.
#
# See ‘bash_incl/workprojs.sh.example’.
#
bash_incl/workprojs.sh

#
# Each computer has a different list of Notebooks and their
# locations are not the same across machines.
#
.config/zim/notebooks.list

.DS_Store

#
# YASnippet.
#
.yas-compiled-snippets.el

#
# Neovim/packer compiled lua stuff.
#
.config/nvim/plugin

#
# Old nvim configs. Do away with this once my new setup
# is complete.
#
.config/nvim-bkp

# vim: set tw=68:

