Xcursor.theme: Vanilla-DMZ

#include ".Xresources.d/XTerm.xrdb"
#include ".Xresources.d/URxvt.xrdb"

!!
!  Fonts 
!
! #include ".Xresources.d/font-source-code-pro.xrdb"
! #include ".Xresources.d/font-profont-windows.xrdb"
#include ".Xresources.d/font-profont-windows.xrdb"

!!
!  Themes 
!
! #include ".Xresources.d/dark1.xrdb"
#include ".Xresources.d/solarized-light.xrdb"

