snippet chi "Challenge Init"
#!/bin/bash

#
# ${1:title}
# ${1/./=/g}
#
# ${2:link}
#
#
endsnippet


snippet c3 "3-line comment"
#
# ${1:text}
#
endsnippet


snippet h1 "h1 with = title"
# ${1:text}
# ${1/./=/g}
endsnippet


snippet h2 "h2 with = title"
# ${1:text}
# ${1/./-/g}
endsnippet

snippet 'doc' "Null Statement Comment-like Block"
: <<-'////'

$1

////
endsnippet

