snippet inichllange "init bash challenge doc"
# --------------------------------------------------------------------------------
# = ${1:title}
#
# ${2:link}
#
# --------------------------------------------------------------------------------

${3:code here}


# --------------------------------------------------------------------------------
# = Explanation
#
#
#
# --------------------------------------------------------------------------------
endsnippet
