/* file: ~/.config/gtk-3.0/gtk.css */

/*
 * Works for gnome-terminal, mate-terminal, xfce4-terminal and probably others.
 * rxvt-unicde uses something else (look at Xresource).
 */
vte-terminal,
terminal-window {
  padding: 8px 8px 8px 8px;
  -vte-terminal-inner-border: 12px 12px 18px 12px;
}

.termite {
  padding: 4px 4px 2px 4px;
}

/**
 * Zim Source View.
 *
 * Insert codeblocks with the markup:
 *
 *      {{{code: language="bash" linenumbers="False"
 *      read -r x
 *      read -r y
 *      printf '%s\n' $(( x + y ))
 *      }}}
 */
/*
.sourceview {
font-family: 'Source Code Variable', 'Source Code Pro', 'Ubuntu Mono';
font-weight: 400;
font-size: 16px;
padding: 5px;
}
 */

/**
 * Color for GtkSourceView text. Works when there is no language specified in
 * the code block. Not sure when there _is_ a language selected for the block.
 */
/*
.sourceview * {
color: #555;
}
 */

/**
 * Make Gnome titlebar height take less space.
 *
 * Type Alt-F2 then ‘restart’ for changes to take effect.
 *
 * NOTE: Not all applications will honor this setting.
 *
 * - https://wiki.archlinux.org/index.php/GNOME#Titlebar_height
 */
headerbar.default-decoration {
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  /* min-height: 2px; */
  /* font-size: 1em; */
}

headerbar.default-decoration button.titlebutton {
  /* padding: 2px; */
  /* min-height: 2px; */
}

/* vim: set sw=2 sts=2 et: */

