[Desktop Entry]
Name=Chromium VBS Mídia Logins
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
Exec=chromium-browser --user-data-dir=/home/fernando/.config/chromium/CustomProfiles/VBSMidia/ %U
Terminal=false
Icon=chromium-browser
Type=Application
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
